* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.logo {
    font-size: 150%;
    font-weight: bold;

}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(64, 68, 70);
}

.encabezado a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_list .list_links {
    padding: 0 15px;
}

.nav_list .list_links a {
    transition: all .3s ease;
}

.nav_list .list_links a:hover {
    color: #0088a9;
}

.btn_cerrar_sesion {
    border: none;
}

.btn_cerrar_sesion a {
    background-color: rgba(0, 136, 169, 1);
    padding: 10px 25px;
    border-radius: 10px;
    transition: all .3s ease;
}

.btn_cerrar_sesion a:hover {
    background-color: #0097a7;
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.8);
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.columna_izquierda {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: rgb(228, 225, 221);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.encabezado_img {
    background-color: #2eb4c5;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -20px -20px 0 -20px;
}

.foto_perfil {
    margin-top: -50px;
    margin-left: 30px;
    text-align: left;
}

.foto_perfil img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.informacion {
    text-align: left;
    padding: 10px;
}

.informacion h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.informacion p{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: justify;
}

.edit_btn {
    display: inline-block;
    background-color: #277781;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    transition: all .3s ease;
    font-size: 1rem;
}

.edit_btn:hover {
    background-color: #0097a7;
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.8);
}

.columna_derecha {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.solicitud {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.solicitud img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.solicitud p {
    flex: 1;
    margin-left: 10px;
}

.btn_check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 50%; 
    text-decoration: none;
    font-size: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn_check:hover {
    background-color: #45a049;
    box-shadow: 0 4px 10px rgba(29, 85, 31, 0.5);
}

.btn_x {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #dd0e0e; 
    color: white;
    border-radius: 50%; 
    text-decoration: none;
    font-size: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn_x:hover {
    background-color: #dd0e0e;
    box-shadow: 0 4px 10px rgba(236, 42, 42, 0.5);
}

.conexiones ul {
    list-style: none;
    margin-top: 15px;
}

.conexiones li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.conexiones img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}