body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #be3882;
}

ul li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #2196F3;
}

a:hover {
    text-decoration: underline;
}
